
<div class = "container" style="margin: 0 auto">
    <div id = "jumbotron" class = "jumbotron">
        <img src = "/assets/img/clipart_burger.png" alt="Burger" style= "margin-bottom: 50px"> 
        <h1 style= "margin-bottom: 50px; color: red">
            Eat-Da-Burger
        </h1>
    <div id= "row1" class="row">
        <div class="col-md-6">
            <h2 style = "margin-bottom: 30px">Burgers on the Menu</h2>
                <ol style = "margin-bottom: 20px; text-align:center; font-size: 17px; color: white">
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devoured=true}}
                    {{/unless}}
                    {{/each}}
                </ol> 
     </div>
    <div class="col-md-6">
        <h2 style = "margin-bottom: 30px">Devoured Burgers</h2>
      <ol style = "margin-bottom: 20px; text-align:center">
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ol>
    </div>
  </div>
        <form id = "submit" type= "submit" class="create-form">
            <div class="form-group">
                <label for="burger_name"></label>
                <input type="text" id="burger_name" name="name" style= "width: 350px; height: 50px;">
            </div>
            <button id ="addburger" type="submit" style= "margin-bottom: 10px"class="btn btn-primary">Burger-Me</button>
            <div style= "margin-bottom: 50px"id = "enter">
            Enter a Burger you would like to eat, then click the "Burger-Me" button
            <div>
        </form>
    </div>
</div>