#body {
    background-color: orange;
}

#addburger {
    color: white;
    background-color: red;
    border: 1px red solid;
}

#devourButton {
    color: white;
    background-color: red;
    border: 1px red solid;
    margin-left: 20px;
}

#deleteButton {
    color: white;
    background-color: red;
    border: 1px red solid;
    margin-left: 20px;
}