
<li>
	{{burger_name}}
	<button id = "devourButton" type="button" style= "margin-bottom: 10px" class="btn btn-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour it{{/if}}
	</button>
	<button id = "deleteButton" type="button" style= "margin-bottom: 10px" class="btn btn-primary" data-id="{{this.id}}">This is nasty</button>
</li>